/*------------- all ------------*/
.events, .aboutMi, .tracks, .youtube, .works {
  margin: 200px auto;
}

/* ---------------- header ---------------- */
header {
  background-image: url("../sourse/test3.jpg");
  background-size: cover;
  position: relative;
  color: #fff;
  height: 100vh;
  background-position: center;
}

header .bluerBG {
  background-color: rgb(0 0 0 / 0.3);
  height: 100%;
  width: 100%;
}

header .container {
  position: relative;
}

header .content p:first-of-type {
  font-size: 25px;
}

header .content p:last-of-type {
  font-size: 18px;
}

header .content h1 {
  font-size: 3.5em;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

header .down-arrow {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding-bottom: 20px;
  width: 100%;
}

header .down-arrow a i {
  color: #fff;
  font-size: 2em;
  animation: up-and-down infinite .8s alternate-reverse;
}

@keyframes up-and-down {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(18px);
  }
}

@media (max-width: 991.98px) {
  .navbar-expand-lg>.container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

/* ------------- section >> events <<---------------*/
.events {
  position: relative;
}

.events h2 {
  font-size: 2.5em;
}

.events h2::after {
  position: absolute;
  right: 70px;
  top: 23px;
  height: 3px;
  width: 65%;
  background: #f1f1f1;
  content: "";
  z-index: -1;
}

.events .card {
  -webkit-box-shadow: 0px 3px 15px rgba(22, 41, 124, 0.1);
  box-shadow: 0px 3px 15px rgba(22, 41, 124, 0.1);
}

.events .card .img {
  position: relative;
  overflow: hidden;
}

.events .card .img .event-time {
  width: 200px;
  border: #fff 2px solid;
  position: absolute;
  text-align: center;
  top: 20px;
  right: -50px;
  transform: rotate(45deg);
  font-weight: bold;
}

.events .card .img .event-time .ribbon-wrapper {
  position: relative;
  z-index: 998;
}

.events .card .img .event-time .ribbon-front {
  padding: 15px;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: center;
}

.events .card .img .event-time .glow {
  width: 40px;
  height: 100%;
  z-index: 999;
  position: absolute;
  animation: flow 3s linear infinite;
  transform: skew(45deg);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 1) 100%);
  -webkit-animation: flow 3s linear infinite;
  -webkit-transform: skew(45deg);
  -moz-transform: skew(45deg);
  -ms-transform: skew(45deg);
  -o-transform: skew(45deg);
}

.events .card .img img {
  height: 440px;
}

.events .owl-carousel .owl-stage-outer {
  padding-bottom: 20px;
}

.events .owl-carousel .owl-nav {
  position: absolute;
  right: 12px;
  top: -82px;
}

.events .owl-carousel .owl-nav button {
  color: #111111;
  opacity: 0.5;
  outline: 0;
  margin-right: 12px;
}

.events .owl-carousel .owl-nav button i {
  font-size: 1.3em;
  opacity: 0.5;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
}

.events .owl-carousel .owl-nav button:hover i {
  opacity: 1;
}

.events .owl-carousel .owl-nav button:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .events h1::after {
    content: none;
  }

  .events .card img {
    height: 400px;
  }
}

@keyframes flow {
  0% {
    left: -20%;
    opacity: 0;
  }

  50% {
    left: 50%;
    opacity: 0.5;
  }

  100% {
    left: 100%;
    opacity: 0;
  }
}

/*-------------- about mi -------------*/
.about-me {
  padding: 60px 0;
}

.about-me h2 {
  font-size: 2.7em;
  font-weight: bold;
}

.about-me h2::before {
  font-family: 'Kaushan Script', cursive;
  position: absolute;
  font-size: 1.5em;
  font-weight: normal;
  color: #f2f2f2;
  top: 0;
  left: 0;
  width: 100%;
  content: "About mi";
  z-index: -1;
}

.about-me .img img {
  animation: border-transform 10s linear infinite alternate forwards;
}

@keyframes border-transform {
  0%, 100% {
    border-radius: 63% 37% 54% 46% /55% 48% 52% 45%;
  }

  14% {
    border-radius: 40% 60% 54% 46% /49% 60% 40% 51%;
  }

  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }

  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }

  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }

  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }

  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

/* -------------- works --------------- */
.works {
  margin: 80px auto;
}

.works .lastWork {
  background-image: url("../sourse/colorfull.jpg");
  background-position: center;
  background-size: cover;
  height: 720px;
}

.works .lastWork .player {
  top: 50%;
}

.works .oldWorks .work {
  background-color: #082227;
  color: #fff;
  height: 360px;
  padding: 30px;
}

.works .oldWorks .work:nth-child(1),
.works .oldWorks .work:nth-child(4) {
  background-color: #E5E5DA;
  color: #333;
}

.works .oldWorks .work i {
  text-align: center;
  font-size: 50px;
  display: block;
  padding: 20px;
}

.works .oldWorks .work h2 {
  font-size: 30px;
  padding: 10px 0 30px 0;
}

.works .oldWorks .work p {
  line-height: 1.3em;
  font-weight: bold;
}

@media (max-width: 768px) {
  .works .oldWorks .work:nth-child(3) {
    order: 4;
  }

  .works .oldWorks .work:nth-child(4) {
    order: 3;
  }
}

/*------------ tracks -------------*/
.tracks {
  overflow: hidden;
}

.tracks h2 {
  font-size: 2.7em;
  font-weight: bold;
}

.tracks h2::before {
  font-family: 'Kaushan Script', cursive;
  position: absolute;
  font-size: 1.5em;
  font-weight: normal;
  color: #f2f2f2;
  top: -20px;
  left: 0;
  width: 100%;
  content: "Music podcast";
  z-index: -1;
}

.tracks button {
  outline: 0;
}

.tracks .container .row:first-of-type a {
  text-decoration: none;
}

.tracks .container .row:first-of-type a:hover {
  text-decoration: none;
}

.tracks .main-content {
  height: 500px;
  overflow-y: auto;
}

.tracks .main-content .control-button button {
  height: 50px;
  width: 50px;
  background: transparent;
  display: none;
  border: 2px solid #555;
}

.tracks .main-content .control-button button.active {
  display: block;
}

.tracks .main-content .control-button button i {
  color: #444;
  font-size: 1.2em;
  position: relative;
  top: 3px;
}

.tracks .main-content .control-button button.jp-play i {
  left: 2px;
}

.tracks .main-content .jp-seek-bar>div {
  height: 5px;
  background: #e1e1e1;
  cursor: pointer;
}

.tracks .main-content .jp-play-bar {
  position: relative;
  height: 100%;
  background: #444;
  overflow: visible !important;
}

.tracks .main-content .jp-current-time,
.tracks .main-content .jp-duration {
  font-size: 1.2em;
}

.tracks .main-content .jp-volume-bar {
  height: 5px;
  background: #e1e1e1;
  cursor: pointer;
}

.tracks .main-content .jp-volume-bar-value {
  background: #444;
  height: 100%;
}

.tracks .tracks-img {
  position: relative;
  z-index: 1;
  height: 100%;
}

.tracks .tracks-img:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  content: "";
  z-index: -1;
}

.tracks .tracks-img img {
  position: relative;
  top: -40px;
  height: 100%;
  width: calc(100% - 40px);
  margin-left: 40px;
}

/* ----------- youtube -------------- */
.youtube .work {
  transition: all .7s ease-in-out;
}

.youtube h2 {
  font-size: 2.7em;
  font-weight: bold;
  position: relative;
  text-align: center;
}

.youtube h2::before {
  font-family: 'Kaushan Script', cursive;
  position: absolute;
  font-size: 1.5em;
  font-weight: normal;
  color: #f2f2f2;
  top: -20px;
  left: 0;
  width: 100%;
  content: "Youtube feed";
  z-index: -1;
}

.youtube .work .img {
  overflow: hidden;
}

.youtube .work .img img {
  transition: all .7s ease-in-out;
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.youtube .work .player {
  position: absolute;
  left: 0;
  bottom: 55%;
  right: 0;
}

.youtube .work:hover img {
  transform: scale(1.2);
}

.youtube .work:hover {
  box-shadow: 0px 3px 15px rgba(22, 41, 124, 0.1);
}

/* -------------- counter --------------- */
footer .timeEvent .contain li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

footer .timeEvent .contain li span {
  display: block;
  font-size: 4.5rem;
}

footer .timeEvent .contain {
  color: #333;
  margin: 0 auto;
  padding: 0.5rem;
}

footer .timeEvent {
  background-color: #eee;
}

footer .timeEvent ul {
  padding: 0;
}

footer .timeEvent h2 {
  margin: 0 auto;
  font-size: 3.5em;
  border-top: 3px solid #333;
  border-bottom: 3px solid #333;
  padding: 15px;
  font-weight: bold;
  width: 50%;
}

footer .timeEvent button {
  padding: 15px 20px;
  font-size: 1.3em;
}

footer .timeEvent button:hover {
  background-color: #eee;
}

@media (max-width: 768px) {
  footer .timeEvent h1 {
    width: 100%;
    font-size: 2em;
  }
}

/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}