section.tracks
  .container
    h2.background-text.my-3.d-flex.justify-content-between.align-items-center 
        | latest tracks 
        button.btn.btn-aurora View all tracks
    .row
      .col-lg-7.pr-0.my-5
        .main-content#js-simple-bar-scroll  

          .single-music-container.my-4(data-url='../../music/4.mp3')
            h4.text-muted.my-2 happy upbeat background
            .d-flex.justify-content-between.align-items-center  
                .player-btn.col.text-aurora.position-relative
                    .controller-container
                        .pause
                            .line.line_1
                            .line.line_2
                        .play.active
                            .line.line_1
                            .line.line_2
                            .line.line_3


                .play-bar.col
                    .time.d-flex.justify-content-between.align-items-center.text-muted.small  
                        span.seek 00:00
                        span.duration 01:12
                    .bar.bar-slider.tooltip.bar-sm.my-2(data-tooltip='0%')
                        .bar-item(role="progressbar")
                .sound-controller.col
                    span.text-muted.small.mute 
                        svg.bi.bi-volume-up(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                            path(d='M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z')
                            path(d='M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z')
                            path(d='M10.025 8a4.486 4.486 0 0 1-1.318 3.182L8 10.475A3.489 3.489 0 0 0 9.025 8c0-.966-.392-1.841-1.025-2.475l.707-.707A4.486 4.486 0 0 1 10.025 8zM7 4a.5.5 0 0 0-.812-.39L3.825 5.5H1.5A.5.5 0 0 0 1 6v4a.5.5 0 0 0 .5.5h2.325l2.363 1.89A.5.5 0 0 0 7 12V4zM4.312 6.39 6 5.04v5.92L4.312 9.61A.5.5 0 0 0 4 9.5H2v-3h2a.5.5 0 0 0 .312-.11z')

                    label.volume-label.m-0.tooltip(for="sound-slider" data-tooltip='50%')
                        input(class="slider volume-changer" id='sound-slider' type="range" min="0" max="100" value="50" oninput="this.setAttribute('value', this.value);") 

          .single-music-container.my-4(data-url='../../music/1.mp3')
            h4.text-muted.my-2 happy upbeat background
            .d-flex.justify-content-between.align-items-center  
                .player-btn.col.text-aurora.position-relative
                    .controller-container
                        .pause
                            .line.line_1
                            .line.line_2
                        .play.active
                            .line.line_1
                            .line.line_2
                            .line.line_3


                .play-bar.col
                    .time.d-flex.justify-content-between.align-items-center.text-muted.small  
                        span.seek 00:00
                        span.duration 01:12
                    .bar.bar-slider.tooltip.bar-sm.my-2(data-tooltip='0%')
                        .bar-item(role="progressbar")
                .sound-controller.col
                    span.text-muted.small.mute 
                        svg.bi.bi-volume-up(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                            path(d='M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z')
                            path(d='M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z')
                            path(d='M10.025 8a4.486 4.486 0 0 1-1.318 3.182L8 10.475A3.489 3.489 0 0 0 9.025 8c0-.966-.392-1.841-1.025-2.475l.707-.707A4.486 4.486 0 0 1 10.025 8zM7 4a.5.5 0 0 0-.812-.39L3.825 5.5H1.5A.5.5 0 0 0 1 6v4a.5.5 0 0 0 .5.5h2.325l2.363 1.89A.5.5 0 0 0 7 12V4zM4.312 6.39 6 5.04v5.92L4.312 9.61A.5.5 0 0 0 4 9.5H2v-3h2a.5.5 0 0 0 .312-.11z')

                    label.volume-label.m-0.tooltip(for="sound-slider" data-tooltip='50%')
                        input(class="slider volume-changer" id='sound-slider' type="range" min="0" max="100" value="50" oninput="this.setAttribute('value', this.value);") 

          .single-music-container.my-4(data-url='../../music/2.mp3')
            h4.text-muted.my-2 happy upbeat background
            .d-flex.justify-content-between.align-items-center  
                .player-btn.col.text-aurora.position-relative
                    .controller-container
                        .pause
                            .line.line_1
                            .line.line_2
                        .play.active
                            .line.line_1
                            .line.line_2
                            .line.line_3


                .play-bar.col
                    .time.d-flex.justify-content-between.align-items-center.text-muted.small  
                        span.seek 00:00
                        span.duration 01:12
                    .bar.bar-slider.tooltip.bar-sm.my-2(data-tooltip='0%')
                        .bar-item(role="progressbar")
                .sound-controller.col
                    span.text-muted.small.mute 
                        svg.bi.bi-volume-up(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                            path(d='M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z')
                            path(d='M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z')
                            path(d='M10.025 8a4.486 4.486 0 0 1-1.318 3.182L8 10.475A3.489 3.489 0 0 0 9.025 8c0-.966-.392-1.841-1.025-2.475l.707-.707A4.486 4.486 0 0 1 10.025 8zM7 4a.5.5 0 0 0-.812-.39L3.825 5.5H1.5A.5.5 0 0 0 1 6v4a.5.5 0 0 0 .5.5h2.325l2.363 1.89A.5.5 0 0 0 7 12V4zM4.312 6.39 6 5.04v5.92L4.312 9.61A.5.5 0 0 0 4 9.5H2v-3h2a.5.5 0 0 0 .312-.11z')

                    label.volume-label.m-0.tooltip(for="sound-slider" data-tooltip='50%')
                        input(class="slider volume-changer" id='sound-slider' type="range" min="0" max="100" value="50" oninput="this.setAttribute('value', this.value);") 
          
          .single-music-container.my-4(data-url='../../music/3.mp3')
            h4.text-muted.my-2 happy upbeat background
            .d-flex.justify-content-between.align-items-center  
                .player-btn.col.text-aurora.position-relative
                    .controller-container
                        .pause
                            .line.line_1
                            .line.line_2
                        .play.active
                            .line.line_1
                            .line.line_2
                            .line.line_3


                .play-bar.col
                    .time.d-flex.justify-content-between.align-items-center.text-muted.small  
                        span.seek 00:00
                        span.duration 01:12
                    .bar.bar-slider.tooltip.bar-sm.my-2(data-tooltip='0%')
                        .bar-item(role="progressbar")
                .sound-controller.col
                    span.text-muted.small.mute 
                        svg.bi.bi-volume-up(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                            path(d='M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z')
                            path(d='M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z')
                            path(d='M10.025 8a4.486 4.486 0 0 1-1.318 3.182L8 10.475A3.489 3.489 0 0 0 9.025 8c0-.966-.392-1.841-1.025-2.475l.707-.707A4.486 4.486 0 0 1 10.025 8zM7 4a.5.5 0 0 0-.812-.39L3.825 5.5H1.5A.5.5 0 0 0 1 6v4a.5.5 0 0 0 .5.5h2.325l2.363 1.89A.5.5 0 0 0 7 12V4zM4.312 6.39 6 5.04v5.92L4.312 9.61A.5.5 0 0 0 4 9.5H2v-3h2a.5.5 0 0 0 .312-.11z')

                    label.volume-label.m-0.tooltip(for="sound-slider" data-tooltip='50%')
                        input(class="slider volume-changer" id='sound-slider' type="range" min="0" max="100" value="50" oninput="this.setAttribute('value', this.value);") 
          
          .single-music-container.my-4(data-url='../../music/5.mp3')
            h4.text-muted.my-2 happy upbeat background
            .d-flex.justify-content-between.align-items-center  
                .player-btn.col.text-aurora.position-relative
                    .controller-container
                        .pause
                            .line.line_1
                            .line.line_2
                        .play.active
                            .line.line_1
                            .line.line_2
                            .line.line_3


                .play-bar.col
                    .time.d-flex.justify-content-between.align-items-center.text-muted.small  
                        span.seek 00:00
                        span.duration 01:12
                    .bar.bar-slider.tooltip.bar-sm.my-2(data-tooltip='0%')
                        .bar-item(role="progressbar")
                .sound-controller.col
                    span.text-muted.small.mute 
                        svg.bi.bi-volume-up(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                            path(d='M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z')
                            path(d='M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z')
                            path(d='M10.025 8a4.486 4.486 0 0 1-1.318 3.182L8 10.475A3.489 3.489 0 0 0 9.025 8c0-.966-.392-1.841-1.025-2.475l.707-.707A4.486 4.486 0 0 1 10.025 8zM7 4a.5.5 0 0 0-.812-.39L3.825 5.5H1.5A.5.5 0 0 0 1 6v4a.5.5 0 0 0 .5.5h2.325l2.363 1.89A.5.5 0 0 0 7 12V4zM4.312 6.39 6 5.04v5.92L4.312 9.61A.5.5 0 0 0 4 9.5H2v-3h2a.5.5 0 0 0 .312-.11z')

                    label.volume-label.m-0.tooltip(for="sound-slider" data-tooltip='50%')
                        input(class="slider volume-changer" id='sound-slider' type="range" min="0" max="100" value="50" oninput="this.setAttribute('value', this.value);") 
      
      .col-lg-5.pl-0.my-5.d-none.d-lg-block
        .pl-5.pb-5.bg-aurora 
            .tracks-img.rounded.overflow-hidden(style='height:450px;background: url("../images/ww.png");background-size: cover;background-repeat: no-repeat;background-position: center;')
