section.youtube.py-5.my-5
    .container
        h2.my-3.background-text.text-center latest videos
        .row.mt-5.justify-content-around.text-center
            .col-lg-4.col-md-6.col-sm-6
                .work.rounded-bottom
                    .img.rounded-top.position-relative(style='height:250px;background: url("../images/wallpaper-flare-1.jpg");background-size: cover;background-repeat: no-repeat;background-position: center;')
                        .overlay
                    .player
                        a(href='#')
                            svg.icon(xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi) bi-play-fill" viewBox="0 0 16 16")
                                path( d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z")
                    h4.text-muted.my-1.p-3 David Guetta Miami 
            .col-lg-4.col-md-6.col-sm-6
                .work.rounded-bottom
                    .img.rounded-top.position-relative(style='height:250px;background: url("../images/wallpaper-flare-2.jpg");background-size: cover;background-repeat: no-repeat;background-position: center;')
                        .overlay
                    .player
                        a(href='#')
                            svg.icon(xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi) bi-play-fill" viewBox="0 0 16 16")
                                path( d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z")
                    h4.text-muted.my-1.p-3 SLAM!Koningsdag
            .col-lg-4.col-md-6.col-sm-6
                .work.rounded-bottom
                    .img.rounded-top.position-relative(style='height:250px;background: url("../images/wallpaper-flare-3.jpg");background-size: cover;background-repeat: no-repeat;background-position: center;')
                        .overlay
                    .player
                        a(href='#')
                            svg.icon(xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi) bi-play-fill" viewBox="0 0 16 16")
                                path( d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z")
                    h4.text-muted.my-1.p-3 Martin Garrix
