.statistical {
  .overlay {
    background-color: #f1f1f18c;
  }
  .bar {
    background-color: #d9d6d6;
  }
  .bar-slider {
    .bar-item {
      background-color: $main-bg;
    }
    .bar-slider-btn {
      background: $main-bg;
      border: 0;
      border-radius: 50%;
      height: 0.6rem;
      padding: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(50%, -50%);
      width: 0.6rem;
    }
  }
  .tooltip::after,
  .tooltip::after {
    opacity: 1;
    transform: translate(-50%, -0.2rem);
  }
}

.about-me {
  .img img {
    animation: border-transform 10s linear infinite alternate forwards;
  }
}

.our-works {
  .img img {
    transition: all 0.5s;
  }
  .img:hover img {
    transform: scale(1.2);
  }
}

.places {
  .place {
    transition: all 0.5s ease-in-out;

    &:hover {
      box-shadow: 0px 3px 15px rgba(22, 41, 124, 0.1);
    }
    .content {
      span {
        position: absolute;
        left: 0;
        right: 0;
        top: -55px;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: #fff;
        margin: 0 auto;
        transition: all 0.7s ease-in-out;

        svg {
          position: relative;
          top: 20px;
          left: 1px;
        }
      }
    }
  }

  .img img {
    transition: all 0.5s;
  }
  .img:hover img {
    transform: scale(1.2);
  }
}
