extends ../layouts/layout

block title 
	title About Us

block style 
	link(rel="stylesheet", href="../css/about-us.min.css")

block content 

	.page-path
		.container.mt-4.text-muted 
			svg.bi.position-relative.mr-2.bi-house(xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='currentColor' viewbox='0 0 16 16' style='top:-2px;')
				path(fill-rule='evenodd' d='M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z')
				path(fill-rule='evenodd' d='M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z')
			| home | 
			| about
																			
	section.statistical.py-5.my-5
		.container 
			.row.mx-0.my-0
				.col-lg-6.mx-0.p-0
					.skillsContent.p-3.h-100(style='background-color:#f2f2f2;')
						h2.mt-5.mb-3 DJ&rsquo;s skill
						p.mt-3.mb-5.text-muted
							| DJ Rain-flow knows how to move your mind, body and soul by delivering tracks that stand out from the norm.
						.skill-bar-item.my-4
							p Perform
							.bar.bar-slider.bar-sm
								.bar-item(role='progressbar' style='width:95%;')
									button.tooltip.bar-slider-btn.bg-aurora(role='slider' data-tooltip='95%')

						.skill-bar-item.my-4
							p Use Midi
							.bar.bar-slider.bar-sm
								.bar-item(role='progressbar' style='width:90%;')
									button.tooltip.bar-slider-btn.bg-aurora(role='slider' data-tooltip='90%')
						.skill-bar-item.my-4
							p Remix and mash up
							.bar.bar-slider.bar-sm
								.bar-item(role='progressbar' style='width:85%;')
									button.tooltip.bar-slider-btn.bg-aurora(role='slider' data-tooltip='85%')
				.col-lg-6.text-center(style='height:450px;').mx-0.p-0
					.img.position-relative.h-100(style='background: url("../images/about.jpg");background-size: cover;background-repeat: no-repeat;background-position: center;')
						.overlay 
						.player.position-absolute(style='top:45%;left:45%;')
							a(href='#')
								svg.icon(xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi) bi-play-fill" viewBox="0 0 16 16")
									path( d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z")

	section.about-me.my-5.py-5
		.container
			.row
				.img.col-md-5.align-self-center
					img.w-100(src='../images/my-photo.jpg' alt="it's my-photo")
				.content.col-md-7.align-self-center
					h2.my-3.background-text Dr Strange
					p.lead.text-muted
						| I would lay down my life for two brothers or eight cousins.&rdquo;With that in mind, let&rsquo;s imagine a big extended family made up of 27 immediate families&mdash;the grandchildren and great-grandchildren of a single couple
					button.btn.btn-aurora.btn-lg Contact Me

	section.col-12.my-5.py-5.our-works
		h2.my-5.text-center.background-text our works
		.row.justify-content-center.align-items-center
			.col-6.col-md-4.px-1.my-2
				.img.overflow-hidden(style='height:200px;') 
					img.mb-2.w-100.h-100.rounded(src='../images/works/work-1.jpg' alt='')
			.col-6.col-md-4.px-1.my-2
				.img.overflow-hidden(style='height:200px;') 
					img.mb-2.w-100.h-100.rounded(src='../images/works/work-2.jpg' alt='')
			.col-6.col-md-4.px-1.my-2
				.img.overflow-hidden(style='height:200px;') 
					img.mb-2.w-100.h-100.rounded(src='../images/works/work-3.jpg' alt='')
			.col-6.col-md-4.px-1.my-2
				.img.overflow-hidden(style='height:200px;') 
					img.mb-2.w-100.h-100.rounded(src='../images/works/work-4.jpg' alt='')
			.col-6.col-md-4.px-1.my-2
				.img.overflow-hidden(style='height:200px;') 
					img.mb-2.w-100.h-100.rounded(src='../images/works/work-5.jpg' alt='')
			.col-6.col-md-4.px-1.my-2
				.img.overflow-hidden(style='height:200px;') 
					img.mb-2.w-100.h-100.rounded(src='../images/works/work-6.jpg' alt='')

	section.places.text-center.my-5.py-5
		.container
			h2.my-5.background-text  What i can do
			.row.justify-content-around
				section.col-md-6.col-lg-4
					.place.rounded.pb-2
						.img.overflow-hidden
							img.w-100.rounded-top(src='../images/about-work/weding.jpg' alt='')
						.content.position-relative.my-3.px-3
							h3.my-4 Building giants
							p.text-muted
								| Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita magnam perspiciatis quis corrupti. Ea repellendus dolores.
							span
								svg.text-aurora.bi.bi-shop(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='currentColor' viewbox='0 0 16 16')
									path(d='M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z')

				section.col-md-6.col-lg-4
					.place.rounded.pb-2
						.img.overflow-hidden
							img.w-100.rounded-top(src='../images/about-work/work.jpg' alt='')
						.content.position-relative.my-3.px-3
							h3.my-4 productivity
							p.text-muted
								| Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita magnam perspiciatis quis corrupti. Ea repellendus dolores.
							span
								svg.text-aurora.bi.bi-sliders(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='currentColor' viewbox='0 0 16 16')
									path(fill-rule='evenodd' d='M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z')

				section.col-md-6.col-lg-4
					.place.rounded.pb-2
						.img.overflow-hidden
							img.w-100.rounded-top(src='../images/about-work/festival.jpg' alt='')
						.content.position-relative.my-3.px-3
							h3.my-4 imagine
							p.text-muted
								| Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita magnam perspiciatis quis corrupti. Ea repellendus dolores.
							span
								svg.text-aurora.bi.bi-gem(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='currentColor' viewbox='0 0 16 16')
									path(d='M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495 8 13.366l2.532-7.876-5.062.005zm-1.371-.999-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l5.113 6.817-2.192-6.82L1.5 5.5zm7.889 6.817 5.123-6.83-2.928.002-2.195 6.828z')


