extends ../layouts/layout

block title 
	title Contact Us

block content 


	.page-path
		.container.mt-4.text-muted 
			svg.bi.position-relative.mr-2.bi-house(xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='currentColor' viewbox='0 0 16 16' style='top:-2px;')
				path(fill-rule='evenodd' d='M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z')
				path(fill-rule='evenodd' d='M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z')
			| home | 
			| Contact us

		
	.container.my-5
		.row.mb-5
			.col-12
				iframe.border-0.w-100(src='https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1766.80228500386!2d31.32983654282912!3d30.63368132904225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sar!2seg!4v1601204121777!5m2!1sar!2seg' allowfullscreen='' aria-hidden='false' tabindex='0' style='height: 500px;')
		.row
			.col-lg-4
				.contactAddress
					h2 Contact info
					p.lead.mb-5.text-muted
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt utlabore.
					ul.list-unstyled
						li.my-4
							h5.font-weight-bold 
								svg.bi.text-aurora.mr-2.bi-geo-alt(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='currentColor' viewbox='0 0 16 16')
									path(d='M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z')
									path(d='M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z')
								| Address
							p.lead.text-muted Los Angeles Gournadi, 1230 Bariasl
						li.my-4
							h5.font-weight-bold 
								svg.mr-2.text-aurora.bi.bi-telephone(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='currentColor' viewbox='0 0 16 16')
									path(d='M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z')

								| Hotline
							span.d-block.lead.text-muted 1-677-124-44227
							span.lead.text-muted 1-688-356-66889
						li.my-4
							h5.font-weight-bold 
								svg.text-aurora.mr-2.bi.bi-chat-square-text(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='currentColor' viewbox='0 0 16 16' style='')
									path(d='M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z')
									path(d='M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z')
								| Email
							p.lead.text-muted Support@gamail.com
			.col-lg-8
				.contactForm
					h2 keep in touch
					p.lead.text-muted
						| Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus, distinctio consectetur! Consequuntur recusandae natus ipsa reprehenderit error esse sapiente, numquam tenetur? Minima, facere laborum optio dicta
						| velit tenetur vel inventore.
					form
						.form-row
							.form-group.col-md-6
								input#inputText1.form-control.form-control-lg(type='text' placeholder='user name' required)
							.form-group.col-md-6
								input#inputAddress.form-control.form-control-lg(type='text' placeholder='Address' required)
						.form-row
							.form-group.col-md-6
								input#inputEmail1.form-control.form-control-lg(type='email' placeholder='Email' required)
							.form-group.col-md-6
								input#inputPassword1.form-control.form-control-lg(type='password' placeholder='password' required)
						.form-row
								textarea#exampleFormControlTextarea1.form-control.form-control-lg.mx-1(rows='20' placeholder='comment' required style='height:150px;')
						button.btn.btn-aurora.btn-block.mt-3(type='submit') 	Sign in
